

body{
    background-color: green;}
    .msw{
        background-color: green ;
    }
.main{
    padding-bottom: auto;
}
.mai-d{
    margin-bottom: -82px;
    padding-left:70px;
    padding-right: 80px;
    /* transform: translate(1px,100px); */
}
.div{
    margin-top: 30px;
}
.port{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.two{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.three{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    color: white;

}
.port ul {
    flex-direction: row;
}
/* .p{
    display: flex;
    flex-wrap: wrap;
} */
.gallery{
margin: 61px;
border: 1px solid black;
border-radius: 5%;
border-collapse: collapse;

}
.col1{
    padding-top: 20px;
    padding-bottom: 100px ;
    padding-left: 20px;
    border-radius: 5%;
    border-collapse: collapse;
}

.lia{
    background-color: rgb(87, 158, 87);
    border-radius: 5%;
    padding-left: 12px;

}

/* .eote{
    display: flex;
    flex-wrap: wrap;

} */

.note{
    background-color: white;
    flex-direction: column;

    

}

.no{
    width: 50%;
    margin-right: 70px;

}

/* .not1{
    padding: 10px;
    margin: 10px;
}

.not2 {
    padding: 10px;
    margin: 10px;
}
.not3 {
    padding: 10px;
    margin: 10px;
}
.not4 {
    margin: 10px;
    padding: 10px;
} */
/* .container h1{
    text-align: center;} */
.note{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.form{
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.last{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding-bottom: 100px;
    padding-left: 100px;
}




.left2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}
.left1{
    width: 50%;
}

.right2{
    width: 50%;
}

.left{
    width: 50%;
    
}

.right  {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.right ul li a{
    color: white;
    text-decoration: none;
}

.right ul li{
    list-style-type: none;
}

.footer{
    text-align: center;
}



/* p{
    font-size: 10px;
} */



h4{
    text-align: center;
    
    
    }
    
    h5{
        text-align: center;
        padding-top: 70px;
        font-size: 70px;
    }
    .ww{
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .two1{
        padding-right: 30px;
        border-radius: 20%;
        list-style-type: none;
        border: 1px solid wheat;
        border-collapse: collapse;
        /* padding: 0; */
        text-align: center;
        margin: 5px;
        padding-bottom: 60px;
        padding-top: 30px;
        
    }
    .two2{
        padding-right: 30px;
        border-radius: 7%;
        list-style-type: none;
        border: 1px solid wheat;
        border-collapse: collapse;
        /* padding: 0; */
        text-align: center;
        margin: 5px;
        padding-bottom: 60px;
        padding-top: 30px;
    }
    .mm{
        font-size: 30px;
    }
    
    .col li{
        height: 200px;
        /* margin-left: 20px;
        margin-right: 20px; */
        font-size: 5px;
    }
   
 
    
    .one{
        padding: 3px;
        text-align: center;
    }