/* body
{
    counter-reset: Serial;           
}

tbody
{
    border-collapse: separate;
}

tr td:first-child:before
{
  counter-increment: Serial;     
  content:  counter(Serial); 
} */

#table{
  margin-top: 20px;
}